<div class="booking-office booking-wrap">
  <h2 class="booking-caption">{{'general.developersOffice' | translate}}</h2>
  <ul class="booking-list">
    <li
      (click)="onBookingOpen(table)"
      *ngFor="let table of office"
      [ngClass]="{active: table.myBooking, disabled: table.status || user.role === rolesEnum.admin}"
      class="booking-item"
    >
      <mat-icon aria-hidden="false">table_restaurant</mat-icon>
      <span *ngIf="table.myBooking">{{'general.myBooking' | translate}}</span>
      <span *ngIf="user.role === rolesEnum.admin">{{'general.onlyForDevs' | translate}}</span>
    </li>
  </ul>
</div>

<div class="booking-body-group">
  <div class="booking-meeting-room booking-wrap">
    <h2 class="booking-caption">{{'general.meetingRoom' | translate}}</h2>
    <div
      (click)="onBookingOpen(meetingRoom)"
      *ngIf="meetingRoom"
      [ngClass]="{active: meetingRoom.myBooking, disabled: meetingRoom.status || user.role === rolesEnum.developer}"
      class="booking-item"
    >
      <mat-icon>people</mat-icon>
      <span *ngIf="meetingRoom.myBooking">{{'general.myBooking' | translate}}</span>
      <span *ngIf="user.role === rolesEnum.developer">{{'general.onlyForAdmin' | translate}}</span>
    </div>
  </div>
</div>
