<div class="booking-top">
  <div class="booking-actions">
    <mat-form-field appearance="fill">
      <mat-label>{{'general.chooseData' | translate}}</mat-label>
      <input
        (dateChange)="onChangeEvent($event)"
        [formControl]="currentDate"
        [matDatepicker]="picker"
        matInput
      >
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="booking-buttons">
    <h3>
      {{user.name}}
      <span>{{'form.role' | translate}}: {{user.role}}</span>
    </h3>

    <button
      (click)="onLogout()"
      color="primary"
      mat-raised-button
    >{{'general.logOut' | translate}}</button>
  </div>
</div>
