<section class="booking">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2" style="padding-right: 0;">
        <nav class="booking-sidebar">
          <h1 class="booking-title">Booking App</h1>
          <h3 class="booking-title">Today: {{today.value | date:'shortDate'}}</h3>
          <mat-list>
            <mat-list-item class="booking-link active"> Developers office </mat-list-item>
          </mat-list>
        </nav>
      </div>
      <div class="col-10">
        <main class="booking-main">
          <div class="booking-top">
            <div class="booking-actions">
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="currentDate" (dateChange)="onChangeEvent($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="booking-buttons">
              <h3>{{user.name}}</h3>
              <button
                (click)="onLogout()"
                mat-raised-button
                color="primary"
              >Logout</button>
            </div>
          </div>

          <div class="booking-body">
            <ul class="booking-list">
              <li
                *ngFor="let table of office"
                class="booking-item"
                (click)="onBookingOpen(table)"
                [ngClass]="{active: table.myBooking, disabled: table.status}"
              >
                <mat-icon aria-hidden="false">table_restaurant</mat-icon>
                <span *ngIf="table.myBooking">My booking</span>
              </li>
            </ul>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
