<form
  (ngSubmit)="onSignUp()"
  [formGroup]="signUpForm"
  class="sign-form"
>
  <h1>{{'auth.signUp' | translate}}</h1>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>{{'form.name' | translate}}</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>{{'form.email' | translate}}</mat-label>
    <input formControlName="email" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'form.role' | translate}}</mat-label>
    <mat-select formControlName="role">
      <mat-option
        *ngFor="let item of roles"
        [value]="item"
      >{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>{{'form.password' | translate}}</mat-label>
    <input formControlName="password" matInput type="password">
  </mat-form-field>

  <div class="example-button-row">
    <button
      [disabled]="!this.signUpForm.valid && this.signUpForm.touched"
      color="primary"
      mat-raised-button
      type="submit"
    >{{'auth.signUp' | translate}}
    </button>
    <button
      (click)="toSignIn()"
      mat-button
      type="button"
    >{{'auth.signIn' | translate}}
    </button>
  </div>
</form>
