<div class="booking-dialog">

  <app-loader *ngIf="loading"></app-loader>

  <div class="booking-wrap" *ngIf="!loading">

    <form
      [formGroup]="bookingForm"
      (ngSubmit)="onSetBooking()"
      class="booking-form"
    >
      <h1 mat-dialog-title>{{'general.booking' | translate}}</h1>

      <mat-dialog-content class="booking-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'form.name' | translate}}</mat-label>
          <input formControlName="name" matInput [ngModel]="bookingData.name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'form.table' | translate}}</mat-label>
          <input formControlName="table" matInput [ngModel]="bookingData.number" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill" formGroupName="time">
          <mat-label>{{'form.enterDateRange' | translate}}</mat-label>
          <mat-date-range-input
            [rangePicker]="picker"
            [comparisonStart]="bookingForm.value.time.start"
            [comparisonEnd]="bookingForm.value.time.end"
          >
            <input
              matStartDate
              placeholder="Start date"
              formControlName="start"
            >
            <input
              matEndDate
              placeholder="End date"
              formControlName="end"
            >
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </mat-dialog-content>

      <mat-dialog-actions>
        <div *ngIf="!bookingData.booking_id">
          <button
            type="submit"
            mat-button
            mat-raised-button
            color="primary"
          >{{'actions.booking' | translate}}</button>
        </div>

        <div *ngIf="bookingData.booking_id">
          <button
            type="button"
            mat-button
            mat-raised-button
            color="primary"
            (click)="onUpdateBooking()"
          >{{'actions.update' | translate}}</button>

          <button
            type="button"
            mat-button
            mat-raised-button
            color="warn"
            (click)="onDeleteBooking(bookingData.booking_id)"
          >{{'actions.delete' | translate}}</button>
        </div>

        <button
          type="button"
          mat-button
          mat-dialog-close="true"
          color="primary"
        >{{'actions.close' | translate}}</button>
      </mat-dialog-actions>
    </form>

    <app-alert
      *ngIf="!loading && mess"
      [message]="mess"
      [status]="status"
    ></app-alert>

  </div>
</div>
