<form
  (ngSubmit)="onSignIn()"
  [formGroup]="signInForm"
  class="sign-form"
>
  <h1>{{'auth.signIn' | translate}}</h1>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>{{'form.email' | translate}}</mat-label>

    <input formControlName="email" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>{{'form.password' | translate}}</mat-label>

    <input formControlName="password" matInput type="password">
  </mat-form-field>

  <div class="example-button-row">
    <button
      [disabled]="!this.signInForm.valid && this.signInForm.touched"
      color="primary"
      mat-raised-button
      type="submit"
    >{{'auth.signIn' | translate}}
    </button>

    <button
      (click)="toSignUp()"
      mat-button
      type="button"
    >{{'auth.signUp' | translate}}
    </button>
  </div>
</form>
