<div class="booking-office booking-wrap">
  <h2 class="booking-caption">Administrators Office</h2>
  <ul class="booking-list">
    <li
      *ngFor="let table of office"
      class="booking-item"
      (click)="onBookingOpen(table)"
      [ngClass]="{active: table.myBooking, disabled: table.status || user.role === rolesEnum.developer}"
    >
      <mat-icon aria-hidden="false">table_restaurant</mat-icon>
      <span *ngIf="user.role === rolesEnum.developer">Only for admin</span>
      <span *ngIf="table.myBooking">My booking</span>
    </li>
  </ul>
</div>
